<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braintreecv1payments.api.dropin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.braintreecv1payments.api.threedsecure.ThreeDSecureWebViewActivity" />

        <activity android:name="com.braintreecv1payments.api.BraintreePaymentActivity" />
    </application>

</manifest>

